.result {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 700;
    font-size: 18px;
    background-color: #fff;
    border: 1px solid #888;
    border-radius: 2px;
    padding: 5px;
    width: 100%;
    text-align: center;
    box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.1);
}

.result__pln {
    color: #555;
    font-size: 22px;
    text-shadow: 1px 3px 20px rgba(0, 0, 0, 0.135);
    margin-top: 15px;
    margin-bottom: 15px;
}

.result__info {
    color: #888;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 0px;
    text-shadow: 1px 3px 20px rgba(0, 0, 0, 0.135);
}

.result__exchanged {
    color: #403f3f;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-shadow: 1px 3px 10px rgba(0, 0, 0, 0.135);
}

.result__flag {
    width: 75px;
    height: 75px;
    margin-top: 0px;
    margin-bottom: 20px;
    animation: subtleWavePulse 3s linear infinite;
}

@keyframes subtleWavePulse {
    0%, 100% {
        transform: rotate(0deg) scale(1);
    }

    33% {
        transform: rotate(-5deg) scale(1.05);
    }

    66% {
        transform: rotate(5deg) scale(1.1);
    }
}