.clock {
    display: flex;
    justify-content: end;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    color: #333;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.135);
    padding: 2px 0 10px 0;
}

.clock__prompt {
    color: #777;
}