html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: 'OpenSans', sans-serif;
  margin: 0 auto;
  color: #ffffff;
  background-image: url("/src/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}